@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    height: 400px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 34px;
    height: 120px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 120px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    flex-direction: row;
}
